
@charset "UTF-8";
/* Aquí definimos las Custom properties */
:root {
  --negro: #393939;
  --blanco: #ececec;
  --sombra-ppal: #c9c9c9;
  --sombra-sec: #ffffff;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
    --blanco: #303030;
    --sombra-ppal: #242424;
    --sombra-sec: #3c3c3c;
    --borde-negro: #FFFFFF50;
  }
}
/* Configuramos si un usuario ha activado el modo alto contraste. (BETA) */
/*
    Estilos generales para que las etiquetas no contengan propiedades
    que nos estorben y en todos los navegadores se vean correctamente
*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

video {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, strong {
  -webkit-hyphens: auto;
          hyphens: auto;
  font-weight: inherit;
  font-size: inherit;
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form, input, textarea, select, button {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  display: block;
}

		body {
		  font-family: var(--tipo-principal);
		  font-size: 100%;
		  line-height: 1.4em;
		  min-height: 100vh;
		  background-color: #2b3e52;
		  color: var(--negro);
		  -webkit-hyphens: auto;
		          hyphens: auto;
		  font-smooth: always;
		  -webkit-font-smoothing: antialiased;
		  -moz-osx-font-smoothing: grayscale;
		  display: flex;
		  flex-flow: row nowrap;
		  justify-content: center;
		  align-items: center;
		}

.carrousel {
  width: 90%;
  max-width: 120em;
  padding: 2em;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: #1c2b3a;
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  overflow: hidden;
}

.carrousel .grande {
  width: 200%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: #1c2b3a;
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  padding: 2em;
  transition: all 0.5s ease;
  transform: translateX(0%);
}

.carrousel .img {
  width: calc( 100% / 4 - 2em);
  min-height: 10vh;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.carrousel .puntos {
  width: 100%;
  margin: 1em 0 0;
  padding: 0.4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.carrousel .punto {
  width: 2em;
  height: 2em;
  margin: 1em 1em 0;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 0.6em 0.6em 1.2em var(--sombra-ppal), -0.6em -0.6em 1.2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.carrousel .punto.activo {
  background-color: lightblue;
}

/*______________________________________________________________ */
.carrousel .slide {
    position: relative;
    flex: 1;
    margin-right: 2em;
  }
  
  .carrousel .slide:last-child {
    margin-right: 0;
  }
  
  .carrousel .slide .img {
    width: 100%;
    height: auto;
    border-radius: 1em;
  }
  
  
  .carrousel .titulo-img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7); /* Fondo oscuro translúcido */
    color: var(--blanco);
    padding: 0.5em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    border-radius: 0 0 1em 1em; /* Redondea igual que la imagen */
    box-shadow: inset 0 -0.2em 0.5em rgba(0, 0, 0, 0.3);
    pointer-events: none;
    color: #ffffff ;
  }
  
/* link de imagenes */
.carrousel .slide a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
  }

  /* adaptación boton información*/
  .info-boton {
    width: 100%;
    margin-top: 2em;
    text-align: center;
  }
  
  .info-boton .btn {
    display: inline-block;
    padding: 0.8em 2em;
    font-size: 1.1em;
    font-weight: bold;
    color: #ffffff;
    background-color: #3230bd;
    border-radius: 0.5em;
    text-decoration: none;
    box-shadow: 0 0.4em 0.8em rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .info-boton .btn:hover {
    background-color: var(--marcado);
    transform: scale(1.05);
  }
  

